<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!----main Header-->
    <div class='container-fluid main_header'>
        <div class='row'>
            <div class='col-md-10 col-12 mx-auto'>
                <div class='row'>
                    <!--left side div-->
                    <div class='col-md-12 col-12 main_header_left align-items-center'>
                        <figure class='erroImg'>
                            <img src="./images/error.png" alt="error" class='img-fluid' title='aboutus'>
                        </figure>
                   
                        <p>OOPS 404 Error!</p>
                        <h1>Couldn't find the page</h1>
                        <a href="/" target="_self"><button>Home</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>

