<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!----main Header-->
    <div class='container-fluid main_header'>
        <div class='row'>
            <div class='col-md-10 col-12 mx-auto'>
                <div class='row'>
                    <!--left side div-->
                    <div class='col-md-6 col-12 main_header_right align-items-center'>
                        <figure>
                            <img src="./images/about.jpg" alt="abou us" class='img-fluid' title='aboutus'>
                        </figure>
                    </div>
                    <div class='col-md-6 col-12 main_header_left'>
                        <p>About US</p>
                        <h1>I am  Abhilash MERN Stack Developer working in TCS</h1>
                        <a href="https://openweathermap.org/about-us" target="_blank"><button>AboutUS</button></a>
                    </div>
                    <!--right side div-->
                    
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>

</html>